$font-poppins: var(--font-poppins)
$font-roboto: var(--font-roboto)
  
$color-primary: #8B5CF6
$color-secondary: #A78BFA
$color-black: #111827
$color-gray-dark: #464646
$color-gray-light: #9CA3AF

$color-background: #C4B5FD
$color-card: #E9C2B8
$color-button-next-active: #9A71F9
$color-button-back: #D29D90
$color-button-back-active: #D48D7B

*
  box-sizing: border-box
  padding: 0
  margin: 0

html,
body
  font-family: $font-poppins
  font-size: 12px
  color: $color-black

main
  display: flex
  align-items: center
  justify-content: center
  min-height: 100vh
  background-color: $color-background
